*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(0, 255, 128);
    --secondary-color: rgb(24, 202, 113);
    --third-color: rgb(0, 124, 62);
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body{
    font-size: 1.6rem;
    min-height: 100vh;
    background-color: var(--main-color);
    background-image:linear-gradient(180deg,
    rgba(24, 202, 113, 0.253)0%,
    rgba(3, 121, 62, 0.52) 100%),
    url(images/hero.jpg);
    overflow: hidden;
}
