*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(183, 0, 255);
    --secondary-color: rgb(119, 0, 255);
    --third-color: rgb(98, 0, 255);
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body{
    font-size: 1.6rem;
    height: 100vh;
    background-color: var(--main-color);
    background-image: linear-gradient(132deg, var(--main-color)0%, var(--secondary-color) 100%);
    overflow: hidden;
}

.question-container{
    display: flex;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(19, 19, 19, 0.6);
    border-radius: 2rem;
    padding: 2.5rem;
    color: #fff;
    width: 100%;
}

.title{
    text-align: center;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

.question-box{
    padding: 2rem;
    transition: all 0.8s ease;
    position: relative;
}

.question-title{
    font-size: 2.3rem;
    position: relative; 
}

hr{
    margin: 1.5rem 2rem;
}

.fas.fa-arrow-down{
    position: absolute;
    top:2rem;
    right: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.8s ease;
    z-index: 232;
}

.fas.fa-arrow-down:hover{
    transform: scale(1.5);
    color: rgb(148, 148, 148);
}


.question-text{
    text-align: justify;
    display: none;
    transition: all 0.8s ease;
}

.question-text.open{
    display: block;
}