/* General styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.main{
    font-size: 5.3rem;
}

.end-text{
    font-size: 2.1rem;
    margin: 2rem ;
}

.description{
    max-width: 50rem;
    text-align: justify;
}

.end-container{
    margin: 2rem 0rem;
    display:flex;
    flex-direction: row;
}

